node_modules
dist
build
.turbo
.vite
.DS_Store
.env
.env.local
coverage
uploads
apps/api/generated
apps/api/.env
apps/web/.env
apps/mobile/build-log.txt
apps/mobile/android
apps/mobile/ios
apps/mobile/google-service-account.json
.claude/
.expo/